// Specific CSS for your home-page
h1 {
font-family: 'Roboto Condensed', sans-serif;
font-weight: bold;
}

.kitties-image-container {
width: 100%;
z-index: 0;
}

.play-button {
position: absolute;
width: 937px;
height: 69px;
left: 232px;
top: 673px;

background: #FFFFFF;
border: 1px solid #C4C4C4;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* Browse All */

position: absolute;
width: 115px;
height: 23px;
left: 663px;
top: 693px;

font-family: 'Roboto Condensed', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;

color: #000000;
}

.kitties-image-container {
  background-image: asset-url("catarmy2.png");
  height: 419px;
  width: 100%;
  display: flex;
justify-content: center;

}

#blue-egg {
    width: 200px;
    height: 223px;
    display: grid;
    top: 9px;
    align-content: start;
    padding-left: 10px;
}


.main-title {
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 2%;
  text-align: center;
}

.secondary-title p {
margin-top: 0;
color: #82817d;
line-height: 1;
}


.rectangle-info {
display: flex;
align-items: center;
width: 1072px;
height: 245px;
left: 183px;
top: 776px;
background: #FFFFFF;
border: 1px solid #C4C4C4;
box-sizing: border-box;
border-radius: 30px;
position: relative;
top: 225px;
left: auto;
}

// For the value proposition on index page !
.value-proposition {
display: flex;
justify-content: space-between;
flex-wrap: wrap;


}
.ValueProposition-item-1 {
font-weight: strong;
list-style: none;
width: 400px;
display: flex;
align-items: center;
margin: 6px;
img {
  padding-right: 10px;
}
}

.ValueProposition-item-2 {
font-weight: strong;
list-style: none;
width: 400px;
display: flex;
align-items: center;
margin: 6px;
img {
  padding-right: 10px;
}
}

.wrapped-proposition {
display: block;
}
