<main class="main-container">

  <div class="kitties-image-container">
    <div class="main-title">
      <h1>CryptoKitties</h1>
      <p>Collect and breed furrever friends!</p>
      <div class="rectangle-info">
        <h2> </h2>
      </div>
    </div>
  </div>

</main>


<!-- <%= link_to "Browse Kitties", kitties_path %>-->


<h1>hello world</h1>
<h2>this is a subtitle to test</h2>


<%= link_to 'Browse Kitties', kitties_path %>
<%= link_to 'Add a new Kitty', new_kitty_path %>