body {
  background-color: #FFFFFF;
  font-family: 'Roboto Condensed', sans-serif;
}

#map {

  margin-top: 40px;
}
.cat-card-container {
  position: absolute;
  height: 300px;
  width: 600px;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
}
.cat-card-container-2 {
  position: absolute;
  height: 300px;
  width: 600px;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
}
.cat-card-container-3 {
  position: absolute;
  height: 300px;
  width: 600px;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
}

.card {
  margin-top: 50px;
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #EF52D1;
  border-radius: 10px;
  box-shadow: -1rem 0 0.5rem #c23da8;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  // top: -300px;
  // left: 176px;
}
 .show-card {
  margin-top: 30px;
  top: auto;
  left: auto;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.6s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.6s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #EF52D1;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.golang {
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: 27px;
  left: -22px;

}

.container {

}


.family-foto {
  display: flex;
  justify-content: center;
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}


// WAVES WAVES WAVES
body {
  margin:0;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
  font-weight: bolder;
}
p {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(194, 61, 168, 1) 0%, rgba(145, 41, 163, 1) 100%);
  color:white;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

.booking-section h2{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;

}


#showbc {
    display: flex;
  justify-content: space-between;
  padding: 0 30px;
  width: 100%;
}

.buy-kitty {
  width: 100%;
  padding: 30px;
   align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
      position: relative;
    top: 15px;
  h2 {
    color: black;
    font-weight: bolder;
  }
}

.review-kitty {
  position: relative;
  top: 165px;
  h2 {
    font-weight: bolder;
  }
}

.rectangle-info-show {
display: flex;
align-items: center;
justify-content: center;
width: 1072px;
height: 245px;
left: 390px;
top: 776px;
background: #FFFFFF;
border: 1px solid #C4C4C4;
box-sizing: border-box;
// border-radius: 30px;
position: relative;
top: -290px;
}

.kitty-dash {
  display: flex;

justify-content: center;

align-items: center;

position: relative;

top: 380px;

height: 130px;

width: 400px;

left: 720px;

}
.kitty-dash img{
    transform-origin:50% 50%;
    animation:2s rotateRight infinite linear;
}

@keyframes rotateRight{
    100%{ transform:rotate(360deg); }
}
//#############################################################
// $bg: #2196F3;
// $darkBlue: darken($bg, 30%);
// $size: 60px;
// $time: 1s;
// $list: 'top', 'right', 'left', 'bottom';

// @mixin animation ($name) {
//     @-webkit-keyframes #{$name} {@content;}
//     @-moz-keyframes #{$name} {@content;}
//     @-o-keyframes #{$name} {@content;}
//     @keyframes #{$name} {@content;}
// }

// @mixin action ($x, $y, $ang) {
//     -webkit-transform: translate($x, $y) rotate($ang);
//     -ms-transform: translate($x, $y) rotate($ang);
//     transform: translate($x, $y) rotate($ang);
// }

// @include animation (top) {
//   15% {
//     @include action(0, 0, 0);
//   }
//   60% {
//     @include action(-$size/2, -$size/2, 20deg);
//   }
//   100% {
//     @include action(0, 0, 90deg);
//   }
// }

// @include animation (right) {
//   15% {
//     @include action(0, 0, 0);
//   }
//   60% {
//     @include action($size/2, -$size/2, -20deg);
//   }
//   100% {
//     @include action(0, 0, -90deg);
//   }
// }

// @include animation (left) {
//   15% {
//     @include action(0, 0, 0);
//   }
//   60% {
//     @include action(-$size/2, $size/2, -20deg);
//   }
//   100% {
//     @include action(0, 0, -90deg);
//   }
// }

// @include animation (bottom) {
//   15% {
//     @include action(0, 0, 0);
//   }
//   60% {
//     @include action($size/2, $size/2, 20deg);
//   }
//   100% {
//     @include action(0, 0, 90deg);
//   }
// }

// html {
//   height: 100%;
// }

// body {
//   margin: 0;
//   height: 100%;
//   overflow: hidden;
//   background: #000;
//   background: -webkit-radial-gradient($darkBlue, #000);
//   background: -o-radial-gradient($darkBlue, #000);
//   background: -moz-radial-gradient($darkBlue, #000);
//   background: radial-gradient($darkBlue, #000);

//   .show-container {
//     position: absolute;
//     background: lighten($bg, 30%);
//     width: $size;
//     height: $size;
//     left: 50%;
//     margin-left: -$size/2;
//     top: 50%;
//     margin-top: -$size/2;
//     -webkit-transform: rotate(45deg);
//     -ms-transform: rotate(45deg);
//     transform: rotate(45deg);
//     cursor: pointer;

//     &:hover .el {
//       -webkit-animation-play-state: running;
//       -moz-animation-play-state: running;
//       -o-animation-play-state: running;
//       animation-play-state: running;
//     }

//     .el {
//       display: inline-block;
//       width: $size/2;
//       height: $size/2;
//       background: $bg;
//       float: left;
//     }

//     @each $side in $list{
//       .#{$side} {
//         -webkit-animation: #{$side} $time linear infinite;
//         -moz-animation: #{$side} $time linear infinite;
//         -o-animation: #{$side} $time linear infinite;
//         animation: #{$side} $time linear infinite;
//         -webkit-animation-play-state: paused;
//         -moz-animation-play-state: paused;
//         -o-animation-play-state: paused;
//         animation-play-state: paused;
//       }
//     }
//   }
// }

//################################################################
