.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 2px 2px #9400FF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

