<h1 style="text-align: center; color: #ef51d2; margin-top: 20px;"> DONATE BTC TO SUPPORT US  </h1>
<br>
<br>
<br>
<div class="wrapper" style="display: flex; justify-content: space-around;">

  <%= image_tag "https://media.giphy.com/media/OSQnHQzntU8OKNaS6S/giphy.gif", style: 'height:200px ; width:200px; margin-left: 50px;' %>
  <%= image_tag "https://raw.githubusercontent.com/danielquinn/bitcoin-donate/master/screenshot.png", style: 'height:200px ; width:200px; margin-left: 50px;' %>

  <%= image_tag "https://media.giphy.com/media/MVgBbtMBGQTi6og4mF/giphy.gif", style: 'height:200px ; width:200px; margin-left: 50px;' %>

</div>
