<h1> test </h1>

<div class="wrapper">

  <%= image_tag "https://media.giphy.com/media/OSQnHQzntU8OKNaS6S/giphy.gif", style: 'height:70px ; width:70px; margin-left: 50px;' %>

  <%= image_tag "https://media.giphy.com/media/MVgBbtMBGQTi6og4mF/giphy.gif", style: 'height:70px ; width:70px; margin-left: 50px;' %>

</div>
